@import 'tailwindcss';

:root {
  --main-dark: 3 7 30;
  --main-dark-red: 106 4 15;
  --main-red: 157 2 8;
  --main-light-red: 208 0 0;
  --main-orange: 232 93 4;
  --main-yellow: 255 186 8;
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-main-dark: hsl(var(--main-dark));
  --color-main-dark-red: hsl(var(--main-dark-red));
  --color-main-light-red: hsl(var(--main-light-red));
  --color-main-orange: hsl(var(--main-orange));
  --color-main-yellow: hsl(var(--main-yellow));
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
