@import 'tailwindcss';

:root {
  --main-dark: 220 80% 7%;
  --main-dark-red: 350 92% 21%;
  --main-red: 355 96% 32%;
  --main-light-red: 0 100% 41%;
  --main-orange: 25 95% 46%;
  --main-yellow: 45 100% 52%;
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main-dark: hsl(var(--main-dark));
  --color-main-dark-red: hsl(var(--main-dark-red));
  --color-main-light-red: hsl(var(--main-light-red));
  --color-main-orange: hsl(var(--main-orange));
  --color-main-yellow: hsl(var(--main-yellow));
  --color-main-red: hsl(var(--main-red));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
